.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.media
media/
staticfiles/
*.sqlite3 
